pip>=8.1.2
bumpversion>=0.5.3
wheel>=0.29.0
watchdog>=0.8.3
flake8>=2.6.0
tox>=2.3.1
coverage>=4.1
Sphinx>=1.5.1
cryptography>=1.6
PyYAML>=3.11
pytest>=2.9.2
pytest-cov>=2.4.0
mock>=2.0.0
xarray>=0.8.2
scipy>=0.18.1
numpy>=1.16.0
cython>=0.25
ipython>=5.3.0
coveralls
sympl==0.4.0
